.form-container {
  display: grid;
  place-items: center;
}

.form {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
}

.form-group input,
.form-group button {
  padding: 1rem;
  outline: none;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.form-group input {
  border: 1px solid hsl(270, 3%, 87%);
  transition: all ease 0.2s;
}

.form-group button {
  background-color: hsl(278, 68%, 11%);
  color: hsl(270, 3%, 87%);
  cursor: pointer;
}

.form-group button:hover {
  transform: translateY(-1px);
}

.even {
  flex-direction: row;
  gap: 10px;
}

.even > div {
  width: 50%;
}

.even input {
  width: 100%;
}

@media (width <= 520px) {
  .form-group input,
  .form-group button {
    font-size: 15px;
  }

  .even {
    flex-direction: column;
  }

  .even > div {
    width: 100%;
  }
}

.form-group button:focus,
.form-group button:hover {
  background: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

input.active {
  border: 1px solid hsl(278, 68%, 11%);
}

.thank-you-img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.thank-you-form {
  text-align: center;
}

.strong {
  font-size: 24px; /* Adjust font size as needed */
  background: linear-gradient(
    to right,
    red,
    blue
  ); /* Apply a linear gradient background */
  -webkit-background-clip: text; /* Apply gradient to text content (for webkit browsers) */
  background-clip: text; /* Apply gradient to text content */
  color: transparent; /* Make the text transparent */
}
